<p id="notice"><%= notice %></p>

<p>
  <strong>Scale:</strong>
  <%= @moon.scale %>
</p>

<p>
  <strong>Irohas:</strong>
  <%= @moon.irohas %>
</p>

<%= link_to 'Edit', edit_moon_path(@moon) %> |
<%= link_to 'Back', moons_path %>
